* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.pricing-plan {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  margin: 15px;

}

.pricing-plan--highlighted {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}


.pricing-plan__header {
  padding: 25px;
  background-color: #009578;
  color: white;
}

.pricing-plan__title, .pricing-plan__summary {
  margin: 0;
  text-align: center;
}

.pricing-plan__title {
  font-size: 1.5em;
  font-weight: 400;
}

.pricing-plan__summary {
  font-size: 1em;
  font-weight: 300;
} 

.pricing-plan__desc {
  padding: 25px;
}

.pricing-plan__feature {
  list-style: none;
  padding-left: 25px;
  position: relative;
  font-size: 0.9em;
}

.pricing-plan__feature:not(:last-child){
  margin-bottom: 0.5em;
}

.pricing-plan__feature::before {
  content: "\2714";
  color: #009578;
  position: absolute;
  left: 0;
}

.pricing-plan__actions {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.pricing-plan__btn {
  display: inline-block;
  margin: 15px auto;
  padding: 8px 20px;
  text-decoration: none;
  color: #009578;
  background: white;
  border: 1px solid #009578;
  font-weight: bold;
  letter-spacing: 0.02em;
  border-radius: 5px;
  text-transform: uppercase;
}

.pricing-plan__btn:hover {
  background-color: #009578;
  color: white;
}

.pricing-plan__cost {
  text-align: center;
  color: black;
  font-size: 2em;
}

.pricing-plan__text {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
}

.pricing-plan__special-text {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  background: #007c64;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  color: white;
}

.pricing-plan--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

